<section class="section-asseen">
  <div class="shell">
    <div class="section__inner">
      <h2>AS SEEN IN</h2>
      <div class="brand-list">
        <img src="{{ 'logo-cosmopolitan.png' | asset_img_url }}" />
        <img src="{{ 'logo-tnyt.png' | asset_img_url }}" />
        <img src="{{ 'logo-elle.png' | asset_img_url }}" />
        <img src="{{ 'logo-brides.png' | asset_img_url }}" />
        <img src="{{ 'logo-people.png' | asset_img_url }}" />
        <img src="{{ 'logo-elite.png' | asset_img_url }}" />
        <img src="{{ 'logo-bazaar.png' | asset_img_url }}" />
        <img src="{{ 'logo-marieclaire.png' | asset_img_url }}" />        
      </div>
    </div>
  </div>
</section>
