{% assign _section = section.settings %}

<style>
  {% if _section.bg_image != blank %}
  #section-{{section.id}} {
    background-image: url('{{ _section.bg_image | img_url: '2048x' }}');
    max-width: 1024px;
    margin: 0 auto;
  }
  {% endif %}
  @media (max-width: 767px) {
    #section-{{section.id}} { 
      background-image: none;
    }
  }
</style>
<section id="section-{{section.id}}" class="section-featured-product">
  <div class="shell">
    <div class="section__inner">
      <div class="section__content">
        {% if _section.section_title != blank %}
          <h2>
            {{ _section.section_title | newline_to_br | replace: '<p>', '' | replace: '</p>', '' }}
          </h2>
        {% endif %}

        {% if _section.content != blank %}
            {{ _section.content | newline_to_br }}
        {% endif %}

      </div><!-- /.section__content -->

      {% if _section.mobile_image != blank %}
        <div class="section__image">
           <img src="{{ _section.mobile_image | img_url: '1024x' }}"
           alt="{{ _section.mobile_image.alt }}"
           class="mobile"
           sizes="(max-width: 375px) 375vw,
             (max-width: 767px) 767vw,
             (max-width: 1366px) 1366vw,
             (max-width: 1919px) 1919vw,
             2048vw"
           srcset="{{ _section.mobile_image | img_url: '1920x' }} 1920w,
                   {{ _section.mobile_image | img_url: '1366x' }} 1366w,
                   {{ _section.mobile_image | img_url: '768x' }} 768w,
                   {{ _section.mobile_image | img_url: '375x' }} 375w"
            />
        </div><!-- /.section__image -->
      {% endif %}

    </div><!-- /.section__inner -->
  </div><!-- /.shell -->
</section><!-- /.section-featured-product -->

{% schema %}
{
  "name": "Featured Product Sonic",
  "settings": [
    {
      "type": "richtext",
      "id": "section_title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
	{
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_mobile_image",
      "label": "Mobile Background Image"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    }
  ],
  "presets": [
    {
      "name": "Featured Product Sonic"
    }
  ]
}
{% endschema %}
